<div class="container">
  <div class="d-flex">
    <h3 class="contact-title mt-4">お問い合わせフォーム</h3>
  </div>
  <%= render 'layouts/error', model: @contact %>
  <%= form_with model: Contact, local:true  do |f| %>
    <%= f.label :タイトル %>
    <%= f.text_area :title, class:"form-control" %>
    <%= f.label :内容 %>
    <%= f.text_area :body, size: "5x5",class:"form-control" %>
  <div class="mt-2">
    <%= f.submit "送信", class: "btn btn-outline-info" %>
  </div>
  <% end %>
</div>
