<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
      <h3 class="mt-4">覚えたいフレーズを記録しよう</h3>
      <%= render 'public/notes/form', note: @note %>
    </div>
    <div id="box" class="col-lg-6 order-1 order-lg-2">
      <div id="images">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
      </div>
      </div>
    </div>
  </div>
  <!--Skkiperスライドショー-->
<script>
 $(document).ready(function () {
          $("#images").skippr({
            transition : 'slide',
            speed : 1000,
            easing : 'easeOutQuart',
            navType : 'block',
            childrenElementType : 'div',
            arrows : true,
            autoPlay : true,
            autoPlayDuration : 3000,
            keyboardOnAlways : true,
            hidePrevious : false
          });
        });
</script>

<% elsif admin_signed_in? %>
<div class="container">
  <div class="d-flex">
   <h3 class="mt-4">管理者専用ページ</h3>
  </div>
</div>


<% else %>
<section id="hero">
  <div class="hero-container">
    <h1>Welcome to EPM</h1>
      <h2><%= link_to 'ゲスト(閲覧用)はこちら', users_guest_sign_in_path, method: :post, class:"text-light"%></h2>
      <h2><%= link_to 'ログインはこちら', new_user_session_path, class:"text-light" %></h2>
      <h2><%= link_to '新規登録はこちら', new_user_registration_path, class:"text-light" %></h2>
    <div class="mt-2 mb-2" style="color: #fff">or</div>
      <h2><%= link_to "管理者はこちら",  new_admin_session_path, class: "text-light" %></h2>
  </div>
</section>

<section id="about" class="about">
  <div class="about-container">
    <div class="wrapper">

    <div class="section-title">
      <h2 class="text-center mt-4 mb-4">About</h2>
    </div>

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <%= image_tag 'pic1.jpg', class: "img-fluid img-thumbnail" %>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
        <h3 class="text-center">英会話フレーズを作成しよう</h3>
          <p class="fst-italic">
            英会話フレーズの作成方法
          </p>
          <ul>
            <li><i class="bi bi-check2-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bi bi-check2-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="bi bi-check2-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
          </ul>
            <p class="ml-2">
             英会話を上達させるためにフレーズを覚えることは大切です。<br>
             しかし、フレーズを丸暗記するだけでは会話のキャッチボールを楽しんだり、<br>
             会話の幅を広げたりすることはできません。<br>フレーズ学習を取り入れながら英語の基礎力を磨くことが大切です。
            </p>
        </div>
      </div>

   </div>
  </section>
<% end %>
