<h2>お問い合わせ内容</h2>
  <%= form_with model: Contact, local:true do |f| %>
    <div>ユーザー名</div>
     <%= @contact.user.name %>さん
    <div>問い合わせ日</div>
     <%= @contact.created_at.strftime("%Y年%m月%d日 ") %>
    <div>タイトル</div>
     <%= @contact.title %>
    <div>問い合わせ内容</div>
     <%= @contact.body %>
    <div>返信</div>
     <%= f.text_area :reply, class:"form-control", placeholder: "返信内容" %>
     <%= f.submit "送信" %>
  <% end %>