<div class="container mt-4">
 <div class="d-flex">
  <h3>お問い合わせ内容</h3>
 </div>

  <%= form_with model: Contact, url: admin_contact_path(@contact),  local:true, method: :patch do |f| %>
    <h4>ユーザー名</h4>
     <%= @contact.user.name %>さん
    <h4>問い合わせ日</h4>
     <%= @contact.created_at.strftime("%Y年%m月%d日 ") %>
    <h4>タイトル</h4>
     <%= @contact.title %>
    <h4>問い合わせ内容</h4>
     <%= @contact.body %>
    <h4>返信</h4>
     <%= f.text_area :reply, class:"form-control", placeholder: "返信内容" %>
     <%= f.submit "送信" %>
  <% end %>
 </div>