<div class="container mt-4">
  <div class="d-flex">
    <h3>お問合せ一覧</h3>
  </div>
  <div class="table-responsive">
    <table class="table admin-contact-table">
      <thead>
        <tr class="table-success">
          <th>ユーザー名</th>
          <th>お問合せタイトル</th>
          <th>受信日</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.user.name %></td>
          <td><%= contact.title %></td>
          <td><%= contact.created_at.strftime("%Y年%m月%d日 ") %></td>
          <td><%= link_to "返信", edit_admin_contact_path(contact), class: "btn btn-outline-info"  %></td>
          <td><%= link_to "削除", admin_contact_path(contact), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-outline-info"  %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
 </div>
