 <%= form_with model: note, local:true do |f| %>
  <!--<div>日付</div>-->
  <%#= user.created_at %>
   <div>キーワード</div>
  <%= f.text_field :word%>
   <div>英語</div>
  <%= f.text_area :english %>
   <div>日本語</div>
  <%= f.text_area :japanese %>
  <div class="mt-2">
  <%= f.submit '投稿' , class: "btn btn-outline-info"%>
 <% end %>
