<div class="container">
  <div class="d-flex">
  <h3 class="mt-4">覚えたフレーズ集</h3>
  </div>
</div>
<div class="container">
  <%= link_to "覚えるページ", remember_index_notes_path, class: "btn btn-outline-success mt-2 mb-2" %>
  <div class="row">
    <% @notes.each do |note| %>
      <div class="col-md-4 mb-3">
        <div class="card note-card">
          <div class="card-body">
            <h6 class="card-subtitle text-muted"><%= note.word %></h5>
            <h5 class="card-title mb-2"><%= note.english %></h6>
            <p class="card-text"><%= note.japanese %></p>
            <div>
              <%= link_to "覚える", forget_note_path(note), method: :post, class: "btn btn-outline-warning"  %>
              <%= link_to "詳細", remember_note_path(note), class: "btn btn-outline-info btn-sm" %>
              <%= link_to "編集", edit_note_path(note), class: "btn btn-outline-info btn-sm"  %>
              <%= link_to "削除", note_path(note), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-outline-info btn-sm"  %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
 <div class="pagination justify-content-center"><%= paginate @notes %></div>
</div>