
<h1>edit</h1>
<%= form_with model: @note, local: true do |f| %>
<div class="field">
<%= f.label :word, class: "label" %>
<%= f.text_field :word, class: "input" %>
</div>

<div class="field">
<%= f.label :japanese, class: "label"  %>
<%= f.text_field :japanese, class: "input" %>
</div>

<div class="field">
<%= f.label :english, class: "label" %>
<%= f.text_field :english, class: "textarea" %>
</div>

<%= f.submit "Update", class: "button is-success" %>
<% end %>