<div class="container mt-4">
  <div class="d-flex">
    <h3>フレーズ内容編集</h3>
    <%= render 'layouts/error', model: @note %>
  </div>
  <%= form_with model: @note, local: true do |f| %>
    <div class="field">
    <%= f.label "キーワード", class: "col-sm-2 control-label mr-2" %>
    <%= f.text_field :word, class: "col-sm-3 control-label"  %>
    </div>
    
    <div class="field">
    <%= f.label "英語", class: "col-sm-2 control-label mr-2" %>
    <%= f.text_field :english, class: "col-sm-3 control-label"  %>
    </div>
    
    <div class="field">
    <%= f.label "日本語", class: "col-sm-2 control-label mr-2"  %>
    <%= f.text_field :japanese, class: "col-sm-3 control-label"  %>
    </div>
    
    <div class="mt-2 ml-2">
    <%= f.submit "更新", class: "btn btn-outline-info" %>
    </div>
  <% end %>
</div>