<div class="container">
  <div class="row">
  <h3 class="mt-4">覚えたいフレーズ</h3>
  </div>
</div>
<div class="container">
 <div class="row">
  <%= link_to "覚えたページ", complete_index_notes_path, class: "btn btn-outline-success mt-2 mb-2" %>
    <table class="table table-hover">
      <thead>
        <tr class="table-success">
          <th></th>
          <th>キーワード</th>
          <th>英語</th>
          <th>日本語</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @notes.each do |note| %>
        <tr>
          <th scope="row"><%= link_to "詳細", remember_note_path(note), class: "btn btn-outline-warning" %>︎</th>
          <td><%= note.word %></td>
          <td><%= note.english %></td>
          <td><%= note.japanese %></td>
          <td><%= link_to "覚えた", done_note_path(note), method: :post, class: "btn btn-outline-info"  %></td>
          <td><%= link_to "編集", edit_note_path(note), class: "btn btn-outline-info"  %> </td>
          <td><%= link_to "削除", note_path(note), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-outline-info"  %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
 <ul class="pagination justify-content-center"><%= paginate @notes %></ul>
</div>
