<div class="container">
<table>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.created_at.strftime("%Y年%m月%d日 ") %></td>
      <td><%= link_to "編集", edit_user_path(@user) %></td>
    </tr>
  </tbody>
</table>
</div>

<div class="container">
<h4>7日間分の投稿数</h4>
<table class='table table-borderd'>
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
  </thead>
  <tbody>
      <td><%= current_user.notes.created_6day_ago.count %></td>
      <td><%= current_user.notes.created_5day_ago.count %></td>
      <td><%= current_user.notes.created_4day_ago.count %></td>
      <td><%= current_user.notes.created_3day_ago.count %></td>
      <td><%= current_user.notes.created_2day_ago.count %></td>
      <td><%= current_user.notes.created_yesterday.count %></td>
      <td><%= current_user.notes.created_today.count %></td>
  </tbody>
</table>

<canvas id="myLineChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
        $(document).on('turbolinks:load', function() {
          var ctx = document.getElementById("myLineChart");
          var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
              datasets: [
                {
                  label: '投稿したフレーズの数',
                  data: [<%= current_user.notes.created_6day_ago.count %>, <%= current_user.notes.created_5day_ago.count %>, <%= current_user.notes.created_4day_ago.count %>, <%= current_user.notes.created_3day_ago.count %>, <%= current_user.notes.created_2day_ago.count %>, <%= current_user.notes.created_yesterday.count %>, <%= current_user.notes.created_today.count %>],
                  borderColor: "rgba(0,0,255,1)",
                  backgroundColor: "rgba(0,0,0,0)"
                }
              ],
            },
            options: {
              title: {
                display: true,
                text: '7日間の投稿数の比較'
              },
              scales: {
                yAxes: [{
                  ticks: {
                    suggestedMax: 10,
                    suggestedMin: 0,
                    stepSize: 1,
                    callback: function(value, index, values){
                      return  value
                    }
                  }
                }]
              },
            }
          });
        });
  </script>
</div>
 