<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #75B5A1;">
  <%= link_to image_tag("EPM-4.png", size: "70x70"), root_path, class:"navar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    <% if admin_signed_in? %>
      <li><%= link_to "User", admin_users_path, class:"nav-link" %></li>
      <li><%= link_to "contact", admin_contacts_path, class:"nav-link" %></li>
      <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, class:"nav-link" %></li>
    <% elsif user_signed_in? %>
      <li><%= link_to "Home", root_path, class:"nav-link crollto active" %></li>
      <li><%= link_to "Mypage", users_path, class:"nav-link", data: {"turbolinks" => false} %></li>
      <li><%= link_to "Note", remember_index_notes_path, class:"nav-link" %></li>
      <li><%= link_to "Task", new_task_path, class:"nav-link", data: {"turbolinks" => false} %></li>
      <li><%= link_to "Schedule", tasks_path, class:"nav-link" %></li>
      <li><%= link_to "Contact", new_contact_path, class:"nav-link" %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link mr-2" %></li>
      <!--検索機能-->
        <%= search_form_for @search, url: search_notes_path do |f| %>
          <%= f.text_field :word_cont ,placeholder: 'Search...'%>
          <%= f.submit ("Search") , class: 'btn-info'%>
        <% end %>

    <% else %>
      <li class="nav-item"><%= link_to 'Guest', users_guest_sign_in_path, method: :post, class:"nav-link" %></li>
      <li class="nav-item"><%= link_to 'Login', new_user_session_path, class:"nav-link" %></li>
      <li class="nav-item"><%= link_to 'Signup', new_user_registration_path, class:"nav-link" %></li>
    <% end %>
    </ul>
  </div>
</nav>
