<!DOCTYPE html>
<html>
  <head>
    <title>EPM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">

      <header class="shadow">
        <%= render "layouts/header" %>
      </header>

      <% if flash[:notice] %>
     <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

     <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

      <main>
            <%= yield %>
      </main>

      <footer>
        <%= render "layouts/footer" %>
      </footer>

    </div>
  </body>
</html>
