<!DOCTYPE html>
<html>
  <head>
    <title>EPM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">

      <header class="shadow">
        <%= render "layouts/header" %>
      </header>

      <% if flash[:notice] %>
        <div class="alert alert-success text-center sm" role="alert"><%= notice %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-success text-center sm" role="alert"><%= alert %></div>
      <% end %>

      <main>
            <%= yield %>
      </main>

      <footer>
        <%= render "layouts/footer" %>
      </footer>

    </div>
  </body>
</html>
