<!DOCTYPE html>
<html>
  <head>
    <title>EPM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      
      <header>
        <%= render "layouts/header" %>
      </header>
    
      <p><%= notice %></p>
      <p><%= alert %></p>
      
      <main>
            <%= yield %>
      </main>
      
      <footer>
        <%= render "layouts/footer" %>
      </footer>
      
    </div>
  </body>
</html>
